<div class="wrapper wrapper content">
  <div class="row" style="margin-top: 40px;">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-danger pull-right">Clear All Items</span>
          <h5>1 Item to translate</h5>
        </div>
        <div class="ibox-content">
          <div class="feed-activity-list">
            <div class="feed-element">
              <div>
                <i class="fa fa-file-word-o m-2" style="margin: 5px;"></i>
                document.docx
                <div class="pull-right">
                  145 words
                </div>
              </div>
            </div>
            <div class="feed-element">
              <div>
                <i class="fa fa-file-word-o m-2" style="margin: 5px;"></i>
                document.docx
                <div class="pull-right">
                  145 words
                </div>
              </div>
            </div>
          </div>
          <div class="ibox-bottom-box" >
            <div class="row">
              <button type="button" class="btn btn-primary pull-right" style="margin: 10px;" name="button">UPLOAD FILES</button>
            </div>
          </div>
        </div>
        <div class="pull-right" style="margin-top: 20px;">
          <button type="button" class="btn btn-primary" name="button"> NEXT: CHOOSE LANGUAGES</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">          
          <h5>Your Order</h5>
        </div>
        <div class="ibox-content">
          <div class="feed-activity-list">
            <div class="feed-element">
              <div>
                <i class="fa fa-circle m-2" style="margin: 5px;"></i>
                2 Items
                <div class="pull-right">
                  145 words
                </div>
              </div>
            </div>
            <div class="feed-element">
              <div>
                <i class="fa fa-circle m-2" style="margin: 5px;"></i>
                Choose Languages
                <div class="pull-right">
                1
                </div>
              </div>
            </div>
            <div class="feed-element">
              <div>
                <i class="fa fa-circle-o m-2" style="margin: 5px;"></i>
                Choose Quality Level
                <div class="pull-right">
                From $0.06/Word
                </div>
              </div>
            </div>
          </div>
          <div class="ibox-bottom-box" style="margin: 10px 20px 10px 0">
            <div class="row">
              <div class="pull-right">
                <h3>From $ 20.58 Per Language</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">

    </div>
  </div>
</div>