<div class="content">
  <div class="row mt-20 m-20">
    <div class="col-lg-8">
      <div class="ibox float-e-margins m-5">
        <div class="ibox-title">
          <span class="label label-success pull-right">Clear all items</span>
          <h2>Choose Language</h2>
        </div>
        <div class="ibox-content">
          <div class="row m-10">
            <div class="col-lg-4">
              <label class="control control--checkbox">Arabic
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Chinese (Traditional)
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Greek
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Indonesian
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Korean
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Polish
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Romaniam
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Slovak
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Tagalog
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Ukrainian
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
            </div>
            <div class="col-lg-4">
              <label class="control control--checkbox">Arabic
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Chinese (Traditional)
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Greek
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Indonesian
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Korean
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Polish
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Romaniam
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Slovak
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Tagalog
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Ukrainian
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
            </div>
            <div class="col-lg-4">
              <label class="control control--checkbox">Arabic
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Chinese (Traditional)
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Greek
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Indonesian
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Korean
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Polish
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Romaniam
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Slovak
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Tagalog
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox">Ukrainian
                <input type="checkbox"/><div class="control__indicator"></div>
              </label>
            </div>
          </div>
        </div>
        <div class="row mt-20 ml-5">
          <div class="col-lg-5">
            <div class="row">
              <h4 class="left mr-10">Can't find language?</h4><h4 class="color-primary">Contact Suport</h4>
            </div>
          </div>
          <div class="col-lg-3">
              <button class="btn btn-danger btn-block next-btn">CANCEL</button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary btn-block next-btn right">ADD LANGUAGE<i class="fa fa-arrow-right right"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h2>Your Order</h2>
        </div>
        <div class="ibox-content">
          <div class="feed-activity-list">
            <div class="feed-element">
              <div>
                <i class="fa fa-circle m-5" ></i>
                2 Items
                <div class="right">
                  145 words
                </div>
              </div>
            </div>
            <div class="feed-element">
              <div>
                <i class="fa fa-circle m-5"></i>
                Choose Languages
                <div class="right">1</div>
              </div>
            </div>
            <div class="feed-element">
              <div>
                <i class="fa fa-circle-o m-5"></i>
                Choose Quality Level
                <div class="right">
                From $0.06/Word
                </div>
              </div>
            </div>
          </div>
          <div class="ibox-bottom-box mt-20">
            <div class="row">
              <div class="col-lg-12 text-center">
                <button type="button" class="btn btn-primary btn-block" name="button">
                  <div class="row pl-10 pr-10 pt-5">
                    <h3 class="text-left left">From</h3><h5 class="text-right right">$20.58 per language</h5>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
