<div class="wrapper wrapper-content">
  
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-info pull-right">View</span>
          <h5>New Assignment</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">5</h1>
                  <small>New Assignment</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
                    <h5>Worklist</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">2</h1>
          
          <small>Worklist</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3" >
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          
          <h5>Summary</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">Show Details</h1>
      <small>Summary</small>    
          </div>
      </div>
    </div>
  </div>
   <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>New Assignment</h5>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-xs btn-white active">New</button>
                       </div>
          </div>
        </div>
     <div class="ibox-content">
              <table class="table table-hover no-margins">
                <thead>
                <tr>
                  <th>Filename</th>
                  <th>Status</th>
                     </tr>
                </thead>
                <tbody>
                <tr>
                  <td><small>Ponniyin selvan</small></td>
                  <td>Approved</td>
  </tr>  <tr>
                  <td><small>Hindinovel</small></td>
                  <td>Approved</td>
  </tr>   <tr>
                  <td><small>Shakespeare Poems</small></td>
                  <td>Approved</td>
  </tr>                 </tbody>
              </table>
            </div>
          </div>
        </div>
 
 
  <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Worklist</h5>
          <div class="pull-right">
             </div>
        </div>
     <div class="ibox-content">
              <table class="table table-hover no-margins">
                <thead>
                <tr>
                  <th>Filename</th>
                  <th>Approved</th>
                  <th>Reject</th>
   <th>Status</th>                              </tr>
                </thead>
                <tbody>
                <tr>
                  <td><small>Ramayanam</small></td>
                  <td><div class="btn-group">
              <button type="button" class="btn btn-xs btn-white active">Approved</button>
                       </div>
 </td>
                  <td><div class="btn-group">
              <button type="button" class="btn btn-xs btn-white active">Reject</button>
                       </div>
 </td>
  <td><small>Approved</small></td> </tr>  
     <tr>             <td><small>Tamilnovel</small></td>
                  <td><div class="btn-group">
              <button type="button" class="btn btn-xs btn-white active">Approved</button>
   </div>
 </td>
                  <td><div class="btn-group">
              <button type="button" class="btn btn-xs btn-white active">Reject</button>
                       </div>
 </td>
  <td><small>Approved</small></td> </tr>  <tr>
                               </tbody>
              </table>
            </div>
          </div>
        </div>
                  
